
body {
	position: relative;
}

.popup-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .8);
}

.popup-modal {
	padding: 15px;
	width: 100%;
	min-height: 200px;
	max-width: 600px;
	background: #fff;
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translateX(-50%);
}

.popup-btn-wrap {
	margin-bottom: 50px;
	position: relative;
}

.popup-close-btn {
	font-size: 30px;
	display: inline-block;
	transform: rotate(-45deg);
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
